@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    font-family: 'Noto Sans', sans-serif;
}

.sidebar {
    width: 300px;
    background-color: #00A36C;
    color: #FFF;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    padding: 15px;
}

.sidebar > a {
    color: #FFF;
    font-size: 18px;
    padding: 15px;
}

.sidebar > a > span {
	margin-right: 10px;
}

.sidebar > a:hover {
    background-color: #FFF;
    color: #00A36C;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 15px 40px;
}

.content > h1 {
    color: #00A36C;
    margin-bottom: 20px;
}

.chart-line-container {
    width: 100%;
    height: 100%;
}

.chart-line-container > canvas {
    max-height: 400px;
}

.chart-pizza-container {
    justify-content: space-between;
    display: flex;
    height: 100%;
}

.chart-pizza-container > canvas {
    max-width: 400px;
    max-height: 400px;
}

/* Listagem CSS */

.content > a > button {
    background-color: #00A36C;
    font-size: 16px;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.table-content { /* Precisa de correções */
    height: 70vh;
    width: 80vw;
    overflow: auto;
    white-space: nowrap;
}

.table-content > table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: solid 1px #F3F3F3;
    padding: 8px;
}

.table-content > table > thead > tr > th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: #FFF;
}

.apontamento-button {
    padding: 5px 10px;
    background-color: #4645BD;
    border-radius: 5px;
    color: #FFF;
}

.alterar-button {
    padding: 5px 10px;
    background-color: #E0B802;
    border-radius: 5px;
    color: #FFF;
}

.excluir-button {
    padding: 5px 10px;
    background-color: #AB0B00;
    border-radius: 5px;
    color: #FFF;
}

/* Novo Processo */
.form-content > p{
    margin-bottom: 20px;
}

/* Novo GRID */
form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

form label {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16pt;
    display: block;
}

form p {
    margin: 0;
}

.full-width {
    grid-column: 1 / 3;
}

input, select {
	text-transform: uppercase;
    font-size: 14pt;
    width: 100%;
    padding: 15px;
}
